@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600;700&display=swap");

:root {
  --maincolor: #2e3142;
  --secondarycolor: #48647a;
  background-color: #f3f3f3;
}
